// Seo-Shield
.dg_seo_text {
    margin-top: 15px;
}

.sitemap_lvl2_ul,
.sitemap_lvl3_ul,
.sitemap_lvl4_ul {
    list-style-type: disc;
}

.sitemap_lvl2_ul {
    margin-left: 20px;
}

.sitemap_lvl3_ul {
    margin-left: 40px;
}

.sitemap_lvl4_ul {
    margin-left: 60px;
}

.sitemap_href {
    float: left;
}
